.App {
  text-align: center;
}

#todoContainer {
  margin: 0 auto;
  width: 960px;
}

#todoList {
  margin: 0 auto;
  width: 300px;
  list-style: none;
}

#todoList li {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageBtn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(105, 160, 187);
  color: white;
}

.todoBtn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem .75rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(105, 160, 187);
  color: white;
}

.todoBtn:hover {
  background-color: rgb(90, 136, 159);
}

.pageBtn:hover {
  background-color: rgb(90, 136, 159);
}

#addTodoText {
  padding: 0.60rem 1rem;
}

#completeCheck {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}